<h1>Editing discipline director</h1>

<%= render "form", discipline_director: @discipline_director %>

<br>

<div>
  <%= link_to "Show this discipline director", @discipline_director %> |
  <%= link_to "Back to discipline directors", discipline_directors_path %>
</div>
