<div id="<%= dom_id observation_disciplinary %>">
  <p>
    <strong>Data:</strong>
    <%= observation_disciplinary.data %>
  </p>

  <p>
    <strong>Observation:</strong>
    <%= observation_disciplinary.observation %>
  </p>

</div>
