<h1>Editing observation disciplinary</h1>

<%= render "form", observation_disciplinary: @observation_disciplinary %>

<br>

<div>
  <%= link_to "Show this observation disciplinary", @observation_disciplinary %> |
  <%= link_to "Back to observation disciplinaries", observation_disciplinaries_path %>
</div>
