<h1>Editing course teacher</h1>

<%= render "form", course_teacher: @course_teacher %>

<br>

<div>
  <%= link_to "Show this course teacher", @course_teacher %> |
  <%= link_to "Back to course teachers", course_teachers_path %>
</div>
