<div id="<%= dom_id periode %>">
  <p>
    <strong>Name:</strong>
    <%= periode.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= periode.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= periode.end_date %>
  </p>

</div>
