<h1>Editing study director</h1>

<%= render "form", study_director: @study_director %>

<br>

<div>
  <%= link_to "Show this study director", @study_director %> |
  <%= link_to "Back to study directors", study_directors_path %>
</div>
