<div id="<%= dom_id evaluate %>">
  <p>
    <strong>Point:</strong>
    <%= evaluate.point %>
  </p>

  <p>
    <strong>Date evaluation:</strong>
    <%= evaluate.date_evaluation_id %>
  </p>

  <p>
    <strong>Promotion:</strong>
    <%= evaluate.promotion_id %>
  </p>

</div>
