<h1>Editing date evaluation</h1>

<%= render "form", date_evaluation: @date_evaluation %>

<br>

<div>
  <%= link_to "Show this date evaluation", @date_evaluation %> |
  <%= link_to "Back to date evaluations", date_evaluations_path %>
</div>
