<h1>Editing detail paiement classroom</h1>

<%= render "form", detail_paiement_classroom: @detail_paiement_classroom %>

<br>

<div>
  <%= link_to "Show this detail paiement classroom", @detail_paiement_classroom %> |
  <%= link_to "Back to detail paiement classrooms", detail_paiement_classrooms_path %>
</div>
