<p style="color: green"><%= notice %></p>

<h1>Years</h1>

<div id="years">
  <% @years.each do |year| %>
    <%= render year %>
    <p>
      <%= link_to "Show this year", year %>
    </p>
  <% end %>
</div>

<%= link_to "New year", new_year_path %>
